@font-face {
font-family: Enso;
src:url("../fonts/enso.ttf");
}

@font-face {
font-family: Roboto_regular;
src:url("../fonts/Roboto-Regular.ttf");
}

@font-face {
font-family: Roboto_italic;
src:url("../fonts/Roboto-Italic.ttf");
}

@font-face {
font-family: Roboto;
src:url("../fonts/Roboto.ttf");
}

@font-face {
font-family: Roboto_light;
src:url("../fonts/Roboto-Light.ttf");
}

@import url('asset/fonts/themify-icons/themify-icons/themify-icons.css');

body{
  padding: 0px;
  margin:0px;
  width: 1920px;
  overflow: auto;
}

/*header*/
header {
  background-image: url("../images/Rectangle.jpg");
  height: 875px;	
  width: 1920px; 
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
}

.head .aboutus{  
  color: #283238; 
  font-family: Roboto_regular;  
  font-size: 12px;  
  font-weight: 500; 
  letter-spacing: 1px;  
  line-height: 16px;
  float: left;
  margin-left: 1344px;
  margin-top: 53px;
}

.head .sign_in{
  background:none;
  height: 36px; 
  width: 82px;  
  border: 2px solid #8BC34A;  
  border-radius: 100px;
  color: #8BC34A; 
  font-family: Roboto;  
  font-size: 12px;  
  font-weight: 500; 
  letter-spacing: 1px;  
  line-height: 16px;
  margin-left: 38px;
  margin-top: 43px;
  cursor: pointer;
}

.banner{
  margin-top: 178px;
  text-align: center;
}

.hapoerp { 
  width: 256px;
}

.list{
  margin-top: 50px;
  margin-left: 585px;
  height: 110px;
  width: 900px;
}

.list .list_menu{
  float: left;
  margin-left: 0px;
}

.list .list_menu_1{
  width: 96px;
}

.list .list_menu_2{
  width: 101px;
  margin-left: 229px;
}

.list .list_menu_3{
  width: 141px;
  margin-left: 183px;
}

.list_menu_1 .ti-gift{
  margin-left: 22px;
  font-size: 48px;
}

.list_menu_2 .ti-alarm-clock{
  margin-left: 25px;
  font-size: 48px;
}

.list_menu_3 .ti-thumb-up{
  margin-left: 45px;
  font-size: 48px;
}

.list .text{
  color: #283238; 
  font-family: Roboto_light;  
  font-size: 36px;  
  font-weight: 300; 
  line-height: 76px;
}

.head_content {
  color: #283238; 
  font-family: Roboto_italic;  
  font-size: 17px;   
  line-height: 24px;
  margin-top: 53px;
  margin-left: 698px;
}

.rectangle_2_copy{
  margin-left: 847px;
  margin-top: 22px;
}

.start_now:hover {
  background: linear-gradient(112.12deg, #B4EC51 0%, #429321 100%);
}

.start_now {
  padding: 18px,55px;
  height: 60px;
  width: 225px;
  border-radius: 100px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
  color: #FFFFFF;
  font-family: Roboto_regular;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 24px;
  cursor: pointer;
}

/*til*/
.til {
  height: 661px;
  width: 1920px;
  background-color: #FFFFFF;
  box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}

.til .left{
  width: 50%;
  float: left;
  height: 100%;
}

.browser .til_img{
  margin-top: 52px;
  margin-left: 181px;
}

.til .right{
  width: 50%;
  float: left;
  height: 100%;
}

.til_head{
  margin-top: 129px;
}

.ti-bookmark-alt{
  height: 36px;
  width: 36px;
  color: #444444;
  font-family: themify;
  font-size: 36px;
  line-height: 36px;
  margin-right: 19px;
}

.til_head {
  color: #444444;
  font-family: Roboto_light;
  font-size: 48px;
  font-weight: 300;
  line-height: 63px;  
}

.body_content{
  color: #283238;
  line-height: 24px;
  font-family: Roboto_regular;
}

.body_content .content_1{
  margin-top: 16px;
  font-style: italic;
  font-size: 14px;
}

.body_content .content_2{
  width: 555px;
  text-align: justify;
  margin-top: 38px;
  font-size: 13px;
}

.rectangle_2_copy_til{
  margin-top: 40px;
}

/*daily_report*/
.daily_report {
  height: 663px;
  width: 100%;
}

.daily_report .left{
  width: 50%;
  float: left;
  height: 100%;
}

.daily_report .right{
  float: left;
  width: 50%;
  height: 100%;
}

.daily_head{
  margin-top: 144px;
  margin-left: 390px;
  color: #444444; 
  font-family: Roboto_light;  
  font-size: 48px;  
  font-weight: 300; 
  line-height: 63px;
}

.ti-write{
  height: 36px;
  width: 36px;
  color: #444444;
  font-family: themify;
  font-size: 36px;
  line-height: 36px;
  margin-right: 19px;
}

.content_3{
  color: #283238;
  font-family: Roboto_regular;
  margin-top: 16px;
  font-style: italic;
  font-size: 13.5px;
  line-height: 19px;
  margin-left: 390px;
}

.content_4{
  color: #283238;
  font-family: Roboto_regular;
  width: 457px;
  text-align: justify;
  margin-top: 38px;
  font-size: 13px;
  line-height: 24px;
  margin-left: 390px;
}

.rectangle_2_copy_daily{
  margin-top: 40px;
  margin-left: 390px;
}

.web .daily_img{
  margin-top: 34px;
  height: 628px;
  margin-left: 56px;
}


/*Group*/

.rectangle3 {
  height: 322px;
  width: 1920px;
  background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
}

.groupall{
  height: 182px;
  margin-left: 386px;
  padding-top: 68.75px;
}

.groupall .group{
  float: left;
  text-align: center;
}

.rectangle3_group{
  color: #FFFFFF; 
  font-family: Roboto_regular;  
  font-size: 18px;  
  font-weight: 500; 
  letter-spacing: 1px;  
  line-height: 24px;
  text-transform: uppercase;
}

.group_2{
  margin-left: 132px;
}

.group_3{
  margin-left: 115px;
}

.group_4{
  margin-left: 67px;
}

.group_5{
  margin-left: 66px;
}

/*member*/

.page_content{
  height: 575px;
  width: 1920px;
}

.page_content .left{
  width: 50%;
  float: left;
  height: 100%;
}

.page_content .right{
  width: 50%;
  float: right;
  height: 100%;
}

.page_web .page_img{
  margin-top: 97px;
}

.page_head .ti-user{
  height: 36px; 
  width: 36px;  
  color: #444444; 
  font-family: themify; 
  font-size: 36px;  
  line-height: 36px;
  margin-right: 18px;
}

.page_head{
  color: #39474E; 
  font-family: Roboto_light;  
  font-size: 48px;  
  font-weight: 300; 
  line-height: 63px;
  margin-top: 97px;
  margin-left: 389px;
}

.content_page{
  color: #283238; 
  font-family: Roboto_regular;  
  font-size: 14px;  
  font-style: italic; 
  line-height: 19px;
  margin-top: 16px;
  margin-left: 389px;
}

.ti-check-box{
  height: 24px; 
  width: 18px;  
  color: #8BC34A; 
  font-family: themify; 
  font-size: 18px;  
  line-height: 24px;  
  text-align: justify;
  position: absolute;
  margin-left: -37px;
}

.content_page_1{
  width: 482px; 
  color: #283238; 
  font-family: Roboto_regular;  
  font-size: 13px;  
  line-height: 24px;  
  text-align: justify;
  margin-left: 426px;
  margin-top: 30px;
}

.content_page_2{
  width: 482px; 
  color: #283238; 
  font-family: Roboto_regular;  
  font-size: 13px;  
  line-height: 24px;  
  text-align: justify;
  margin-left: 426px;
  margin-top: 17px;
}

.rectangle_2_copy_page{
  margin-top: 29px;
  margin-left: 389px;
}

/*customer*/

.customer {
  height: 661px;
  width: 1920px;
  background-color: #FFFFFF;
  box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}

.customer .left{
  width: 50%;
  float: left;
  height: 100%;
}

.customer .right{
  width: 50%;
  float: left;
  height: 100%;
}

.browser_cus .customer_img{
  margin-left: 181px;
  margin-top: 52px;
}

.customer_head{
  margin-top: 129px;
  color: #444444; 
  font-family: Roboto_light;  
  font-size: 48px;  
  font-weight: 300; 
  line-height: 63px;
}

.ti-face-smile{
  height: 36px; 
  width: 36px;  
  color: #444444; 
  font-family: themify; 
  font-size: 36px;
  margin-right: 19px;
}

.customer_content{
  color: #283238; 
  font-family: Roboto_regular;  
  font-size: 14px;  
  font-style: italic; 
  line-height: 19px;
  margin-top: 16px;
}

.content1{
  color: #283238;
  font-family: Roboto_regular;  
  font-size: 13px;  
  line-height: 24px;  
  text-align: justify;
  margin-top: 38px;
  margin-left: 37px;
  width: 482px;
}

.ti-unlock{
  height: 24px; 
  width: 18px;  
  color: #8BC34A; 
  font-family: themify; 
  font-size: 18px;
  position: absolute;
  margin-left: -37px;
}

.content1 .ti-cup{
  height: 24px; 
  width: 18px;  
  color: #8BC34A; 
  font-family: themify; 
  font-size: 18px;
  position: absolute;
  margin-left: -37px;
}

.content1 .ti-stats-up{
  height: 24px; 
  width: 18px;  
  color: #8BC34A; 
  font-family: themify; 
  font-size: 18px;
  position: absolute;
  margin-left: -37px;
}

.rectangle_2_copy_customer{
  margin-top: 30px;
}

/*our customer*/

.rectangle4 {
  height: 544px;
  width: 1920px;
  background-image: url(../images/Rectangle_3.jpg);
  background-color: rgba(40,50,56,0.9);
}

.cus{
  color: #FFFFFF; 
  font-family: Roboto_light;  
  font-size: 48px;  
  font-weight: 300; 
  line-height: 63px;
  height: 63px;
  padding-top: 50px;
  text-align: center;
  margin-top: 0px; 
}

.rectangle4_group{
  height: 127px;
  margin-top: 48px;
  margin-left: 320px;
  width: 1300px;

}

.rectangle4_group .customer_group{
  float: left;
  height: 80px;
  width: 150px;
}

.cus_name{
  color: #FFFFFF; 
  font-family: Roboto_regular; 
  font-size: 13px;  
  font-weight: 300; 
  line-height: 14px;
  margin-left: 11px; 
  padding-left: 78px;
  display: block;
  width: 70px;
}

.cus_job{
  display: block;
  color: #FFFFFF;
  font-weight: 300;
  line-height: 14px;
  font-size: 10px;
  padding-left: 95px;
  margin-top: -8px;
  font-family: Roboto_regular;
}

.avata {
 margin-left: 78px;
 -moz-transition: all 0.5s;
 -webkit-transition: all 0.5s;
 transition: 0.1s;
}
.avata:hover {
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
.avata:hover + .cus_name {
    margin-top: 25px;
}

.dotted{
  height: 10px;
  margin-top: 24px;
  text-align: center;
  padding-left: 900px;
}

.oval2{
  border: 1px solid #979797;
  border-radius: 50%;
  width: 9.71px;
  height: 10px;
  float: left;
  margin-left: 22.79px;
}

.oval2:hover{
  background-color: #D8D8D8;
}

.tes_text{
  color: #FFFFFF; 
  font-family: Roboto_light;  
  font-size: 18px;  
  font-weight: 300; 
  line-height: 30px;  
  text-align: justify;
  margin-top: 62px;
  width: 750px;
  margin-left: 586px;
}

.ti-quote-left{
  height: 73px;
  width: 72px;
  opacity: 0.4;
  color: #FFFFFF;
  font-family: themify;
  font-size: 72px;
  line-height: 73px;
  text-align: justify;
  position: absolute;
  margin-top: -160px;
  margin-left: 487px;
}

.ti-quote-right{
  height: 73px;
  width: 72px;
  opacity: 0.4;
  color: #FFFFFF;
  font-family: themify;
  font-size: 72px;
  line-height: 73px;
  text-align: justify;
  position: absolute;
  margin-left: 1362px;
  margin-top: -37px;
}

/*project*/

.ti-calendar{
  margin-right: 18px;
}

.project_img{
  margin-top: 38px;
  margin-left: -20px;
}

/*footer*/

footer {
  height: 180px;
  width: 1920px;
  border: 1px solid #ECEFF1;
  background-color: #39474E;
  box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
  margin-left: -2px;
}

.hapo_img{
  width: 96px;
  float: left;
  margin-top: -4px;
}

.group_content{
  margin-top: 54px;
  margin-left: 389px;
}

.group_content .group{
  float: left;
  height: 100%;
}

.group .g1{
  margin-left: 100px;
}

.group .g2{
  margin-left: 109px;
}

.group .g3{
  margin-left: 114px;
}

.group .g4{
  margin-left: 97px;
}

.group .g5{
  margin-left: 81px;
}

.text_footer{
  color: #8BC34A; 
  font-family: Roboto_regular;  
  font-size: 13px;  
  font-weight: 500; 
  line-height: 18px;
}

.copyright{
  margin-top: 54px;
  color: #D0D8DC; 
  font-family: Roboto_regular;  
  font-size: 10px;  
  font-weight: 500; 
  line-height: 13px;
}

.g1_content{
  margin-left: 100px;
  color: #D0D8DC; 
  font-family: Roboto_regular;  
  font-size: 10px;  
  font-weight: 500; 
  line-height: 20px;
  margin-top: 14px;
}

.g2_content{
  margin-left: 109px;
  color: #D0D8DC; 
  font-family: Roboto_regular;  
  font-size: 10px;  
  font-weight: 500; 
  line-height: 20px;
  margin-top: 14px;
}

.g3_content{
  margin-left: 114px;
  color: #D0D8DC; 
  font-family: Roboto_regular;  
  font-size: 10px;  
  font-weight: 500; 
  line-height: 20px;
  margin-top: 14px;
}

.g4_content{
  margin-left: 97px;
  color: #D0D8DC; 
  font-family: Roboto_regular;  
  font-size: 10px;  
  font-weight: 500; 
  line-height: 20px;
  margin-top: 14px;
}

ul{
  margin-top: 54px;
  padding-left: 0px;
}

ul a{
  text-decoration: none;
  height: 13px; 
  width: 13px;  
  color: #8BC34A; 
  font-family: themify; 
  font-size: 13px;  
  line-height: 13px;  
}

li{
  padding-left:38px;
  list-style-type: none;
  display: inline-block;

}